# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

cmd/onos-control/onos-control
vendor
build/_output
*.DS_Store
coverage.txt
*.coverprofile
.idea
build/build-tools

